%nav.navbar.navbar-expand-lg.fixed-top.navbar-dark.bg-dark{"aria-label" => "Main navigation"}
  .container-fluid
    %a.navbar-brand{href: root_path} Open Jobs
    %button#navbarSideCollapse.navbar-toggler.p-0.border-0{"aria-label" => "Toggle navigation", type: "button"}
      %span.navbar-toggler-icon
    #navbarsExampleDefault.navbar-collapse.offcanvas-collapse
      %ul.navbar-nav.me-auto.mb-2.mb-lg-0
        %li.nav-item
          %a.nav-link.active{"aria-current" => "page", href: "#"} Dashboard
        %li.nav-item
          %a.nav-link{href: "#"} Sign Up / Sign In
        
        %li.nav-item.dropdown
          %a.nav-link.dropdown-toggle{"aria-expanded" => "false", "data-bs-toggle" => "dropdown", href: "#"} Settings
          %ul.dropdown-menu
            %li
              %a.dropdown-item{href: "#"} Action
            %li
              %a.dropdown-item{href: "#"} Another action
            %li
              %a.dropdown-item{href: "#"} Something else here